@import "tailwindcss";


@theme {
    --color-primary: #d3fd50;
}

@font-face {
    font-family: primary;
    src: url(/fonts/Lausanne-500.woff2);
}

@font-face {
    font-family: secondary;
    src: url(/fonts/Lausanne-300.woff2);
}

body {
    overflow-x: hidden;
}

@layer utilities {
  .rotate-x-90 {
    transform: rotateX(90deg);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* Works perfectly with doubled content */
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .animate-marquee {
    animation-duration: 8s; /* Faster for smaller screens */
  }
}